<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/login-layout}">

<div layout:fragment="content">

    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->

            <!-- Icon -->
            <div class="fadeIn first">
                <h1>YCJH</h1>
            </div>

            <!-- Login Form -->
            <form>
                <input type="hidden" name="rsa_user_id">
                <input type="hidden" name="rsa_user_pwd">


                <input type="hidden" id="publicKeyModulus" name="publicKeyModulus">
                <input type="hidden" id="publicKeyExponent" name="publicKeyExponent">

                <input type="text" class="fadeIn second" id="user_id" name="user_id" placeholder="user_id">
                <input type="text" class="fadeIn third" id="user_pwd" name="user_pwd" placeholder="user_pwd">



                <input type="submit" class="fadeIn fourth" value="Log In">
            </form>

            <!-- Remind Passowrd -->
            <!--<div id="formFooter">-->
            <!--<a class="underlineHover" href="#">Forgot Password?</a>-->
            <!--</div>-->

        </div>
    </div>

    <script>
        $(document).ready(function(){
            let submitAction = function() {
                return false;
            };
            $('form').bind('submit', submitAction);

            fn_getRsaModel();

            $("input[type=submit]").click(function(){
                fn_doLogin();
            })

        });
        var header = {
            token:null
        }
        function fn_getRsaModel(){
            $.ajax({
                type:"GET",
                dataType:"json",
                url:"/users/login",
                success:function (result) {
                    $("#publicKeyModulus").val(result.model.publicKeyModulus);
                    $("#publicKeyExponent").val(result.model.publicKeyExponent);
                },
                error : function(request) {
                    alert(request.responseText)
                    console.log("code:"+request.status+"\n"+"message:"+request.responseText);
                }
            })
        }
        function fn_doLogin() {
            $("input[type=submit]").prop("disabled", true);
            let rsaKey = new RSAKey();
            rsaKey.setPublic($("#publicKeyModulus").val(),$("#publicKeyExponent").val());

            let secured_user_id = rsaKey.encrypt($("#user_id").val());
            let secured_user_pwd = rsaKey.encrypt($("#user_pwd").val())
            $.ajax({
                type:"POST",
                data:{secured_user_id: secured_user_id,
                    secured_user_pwd:secured_user_pwd
                },
                dataType:"json",
                url:"/users/login",
                async:false,
                success:function (data, status, xhr) {


                    header.token = xhr.getResponseHeader("Authorization");
                    if (data.success){
                        alert("login sucess to-do: token 발급");
                    }else{
                        alert("id or pwd 확인 필요")
                        fn_getRsaModel();
                    }
                },
                error : function(request) {
                    alert(request.responseText)
                    console.log("code:"+request.status+"\n"+"message:"+request.responseText);
                }
            });
            $("input[type=submit]").prop("disabled", false);

        }
        function fn_resetLoginForm(){

        }
        function fn_validateLoginForm(){

        }


    </script>
</div>
</html>