<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/login-layout}">

<div layout:fragment="content">


    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->

            <!-- Icon -->
            <div class="fadeIn first">
                <h1>YCJH</h1>
            </div>

            <!-- Login Form -->
            <form>
                <input type="hidden" name="rsa_user_id">
                <input type="hidden" name="rsa_user_pwd">


                <input type="hidden" name="publicKeyModulus">
                <input type="hidden" name="publicKeyExponent">

                <input type="text" class="fadeIn second" name="user_id" placeholder="user_id">
                <input type="text" class="fadeIn third" name="user_pwd" placeholder="user_pwd">



                <input type="submit" class="fadeIn fourth" value="Log In">
            </form>

            <!-- Remind Passowrd -->
            <!--<div id="formFooter">-->
            <!--<a class="underlineHover" href="#">Forgot Password?</a>-->
            <!--</div>-->

        </div>
    </div>
</div>
<script>
    $(document).ready(function(){

    });

</script>
</html>