<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/login-layout}">

<div layout:fragment="content">

    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->

            <!-- Icon -->
            <div class="fadeIn first">
                <h1>YCJH</h1>
            </div>

            <!-- Login Form -->
            <form id="login_form">
                <input type="hidden" name="rsa_user_id">
                <input type="hidden" name="rsa_user_pwd">


                <input type="hidden" id="publicKeyModulus" name="publicKeyModulus">
                <input type="hidden" id="publicKeyExponent" name="publicKeyExponent">

                <input type="text" class="fadeIn second" id="user_id" name="user_id" placeholder="user_id">
                <input type="text" class="fadeIn third" id="user_pwd" name="user_pwd" placeholder="user_pwd">



                <input type="submit" class="fadeIn fourth" value="Log In">
            </form>


        </div>
    </div>

    <script>
        $(document).ready(function(){
            fn_initLoginForm();

            $("#login_form input[type=submit]").click(function(){
                if( fn_validateLoginForm() ){
                    fn_doLogin();
                }else{
                    alert("need id and pwd")
                }
            })

        });

        function fn_initLoginForm(){
            $("#login_form").submit(function(){
                return false;
            })
            $.ajax({
                type:"GET",
                dataType:"json",
                url:"/users/login",
                success:function (result) {
                    $("#publicKeyModulus").val(result.model.publicKeyModulus);
                    $("#publicKeyExponent").val(result.model.publicKeyExponent);
                },
                error : function(request) {
                    alert(request.responseText)
                    console.log("code:"+request.status+"\n"+"message:"+request.responseText);
                }
            })
        }

        function fn_validateLoginForm(){

            let user_id = $("#user_id").val();
            let user_pwd = $("#user_pwd").val();
            if (user_id ==null || user_pwd ==null){
                return false;
            }

            let publicKeyModulus = $("#publicKeyModulus").val();
            let publicKeyExponent = $("#publicKeyExponent").val();
            if (publicKeyModulus == null || publicKeyExponent ==null){
                return false;
            }

            return true;

        }

        function fn_doLogin() {



            let rsaKey = new RSAKey();
            rsaKey.setPublic($("#publicKeyModulus").val(),$("#publicKeyExponent").val());

            let secured_user_id = rsaKey.encrypt($("#user_id").val());
            let secured_user_pwd = rsaKey.encrypt($("#user_pwd").val());

            $("#publicKeyModulus").val("");
            $("#publicKeyExponent").val("");
            $("#user_id").val("");
            $("#user_pwd").val("");

            $.ajax({
                type:"POST",
                data:{
                    secured_user_id: secured_user_id,
                    secured_user_pwd:secured_user_pwd
                },
                dataType:"json",
                url:"/users/login",
                async:false,
                success:function (data, status, xhr) {
                    if (data.success){
                        TOCKEN =xhr.getResponseHeader("Authorization");

                    }else{
                        alert("id or pwd 확인 필요");
                        fn_initLoginForm();
                    }
                },
                error : function(request) {

                    alert(request.responseText);
                },
                fail : function(req){
                    fn_initLoginForm();
                    alert(request.responseText);

                }
            });


        }



    </script>
</div>
</html>