<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:fragment="declareFragment">
    <meta charset="UTF-8" />





    <!--Common-->
    <!--Bootstrap-->
    <link rel="stylesheet" href="/resource/common/vendor/bootstrap/css/bootstrap.css" >
    <script src="/resource/common/vendor/bootstrap/js/bootstrap.js"></script>

    <!--jquery-->
    <script src="/resource/common/vendor/jquery/jquery.js"></script>

    <!--jsencrypt-->
    <script src="/resource/common/vendor/jsencrypt/jsencrypt.min.js"></script>

    <!-- react js-->
    <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    
    <!-- Don't use this in production: -->
    <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>


    <!--Custom-->
    <link rel="stylesheet" href="/resource/user/login.css">

</head>
</html>